- name: Install HAProxy and Keepalived
  ansible.builtin.dnf:
    name:
      - haproxy
      - keepalived
      - curl
      - epel-release
      - python3
      - python3-pip
    state: present

- name: Enable services
  ansible.builtin.service:
    name: "{{ item }}"
    enabled: true
  loop:
    - haproxy
    - keepalived

- name: vCenter 통신 라이브러리 설치 (Proxy1 로컬)
  ansible.builtin.pip:
    name: pyvmomi
    state: present
  become: yes
